.backSkills {
  width: 40%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .roundWheelBack {
    position: relative;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 5px dashed black;
    transition: transform 1s ease;
  }

  .roundWheelBack:hover {
    transform: rotate(180deg);
  }

  .roundWheelBack:hover .back1,
  .roundWheelBack:hover .back2,
  .roundWheelBack:hover .back3,
  .roundWheelBack:hover .back4,
  .roundWheelBack:hover .back5 {
    transform: translate(-50%, -50%) rotate(-180deg);
  }

  .back1 {
    position: absolute;
    width: 150px;
    object-fit: cover;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 1s ease;
  }
  .back2 {
    position: absolute;
    height: 150px;
    object-fit: cover;
    top: 33%;
    left: 100%;
    transform: translate(-50%, -50%);
    transition: transform 1s ease;
  }
  .back3 {
    position: absolute;
    height: 200px;
    object-fit: cover;
    top: 85%;
    left: 88%;
    transform: translate(-50%, -50%);
    transition: transform 1s ease;
  }
  .back4 {
    position: absolute;
    height: 175px;
    object-fit: cover;
    top: 83%;
    left: 12%;
    transform: translate(-50%, -50%);
    transition: transform 1s ease;
  }
  .back5 {
    position: absolute;
    height: 100px;
    object-fit: cover;
    top: 33%;
    left: 0%;
    transform: translate(-50%, -50%);
    transition: transform 1s ease;
  }
}

@media (max-width: 1280px) {
  .roundWheelBack {
    width: 225px !important;
    height: 225px !important;
  }
  .back1 {
    width: 75px !important;
    height: 75px !important;
    object-fit: contain !important;
  }
  .back2 {
    width: 75px !important;
    height: 75px !important;
    object-fit: contain !important;
  }
  .back3 {
    width: 75px !important;
    height: 75px !important;
    object-fit: contain !important;
  }
  .back4 {
    width: 75px !important;
    height: 75px !important;
    object-fit: contain !important;
  }
  .back5 {
    width: 75px !important;
    height: 75px !important;
    object-fit: contain !important;
  }
  .backSkills {
    width: 90% !important;
    padding: 0 50px;
    box-sizing: border-box;
  }
}
.belowWheelText {
  width: 100%;
  margin: 50px;
  font-family: "Mozilla Headline";
  color: white;
  font-weight: 700;
  font-size: 18px !important;
  margin-bottom: 80px !important;
}
