.backSkills {
  width: 40%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .roundWheelBack {
    position: relative;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 5px dashed black;
  }
  .back1 {
    position: absolute;
    width: 150px;
    object-fit: cover;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .back2 {
    position: absolute;
    height: 150px;
    object-fit: cover;
    top: 33%;
    left: 100%;
    transform: translate(-50%, -50%);
  }
  .back3 {
    position: absolute;
    height: 200px;
    object-fit: cover;
    top: 85%;
    left: 88%;
    transform: translate(-50%, -50%);
  }
  .back4 {
    position: absolute;
    height: 175px;
    object-fit: cover;
    top: 83%;
    left: 12%;
    transform: translate(-50%, -50%);
  }
  .back5 {
    position: absolute;
    height: 100px;
    object-fit: cover;
    top: 33%;
    left: 0%;
    transform: translate(-50%, -50%);
  }
}
