.nav {
  background-color: #1b0524;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 30px;
  border-bottom: 5px solid #92248c;
}

.navButtons {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.siteLink {
  padding: 15px;
  text-decoration: none;
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-weight: 900;
}
